:root {
  --primaryMain: #43c0f6;
}
/* ~~~~~~~~~~ Scroll Bar ~~~~~~~~~~  */
.scrollBarTest {
  width: 27px;
  height: 90%;
  border-radius: 30px;
  background-color: #fff;
  margin-top: 50px;
}
.scrollBarInner {
  width: 18px;
  height: 25%;
  border-radius: 15px;
  background-color: var(--primaryMain);
  margin: 0 4.5px;
  position: relative;
  top: 14px;
}
