.flagsNavBar{
    margin: 2px 5px 0 5px;
}
.appBarAll{
    height: 90px;
    width: auto;
}
.toolbar{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
     /* hide the buttons and images on screens smaller than 600px  */
     .langNavBar, .loginNavBar{
      display: none;
    }
  }