/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* *{
  border: 2px solid red; 
  } */

  
  body {
    
    box-sizing: border-box;
    margin: 0;
     color: var(--textPrimary); 
     font-family: 'Nunito', sans-serif;
     font-weight: 600;
  } 

  .close-modal-login{
    color: var(--textPrimary);
    font-family: 'Nunito', sans-serif;
  }
  